$main-colour: rgb(127, 214, 200)
$sub-colour: rgb(203, 140, 216)

* 
  font-family: harmattan
.navbar-brand
  color: $main-colour!important
.project-img
  object-fit: cover
  max-width: inherit
  max-height: inherit
  transition: transform .3s
  overflow: hidden
  &:hover
    transform: scale(1.12)
.portrait-img
  object-fit: cover
  max-width: 40%
  max-height: inherit